.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.muebles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centra todas las filas por defecto */
  padding: 20px;
}

